<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method ="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value = "Update Student">
                </form>
            </div>
        </div>
    </div>
</body>
</html>